section {
    height: 100%;
    background: linear-gradient(313.79deg, #2855ae -3.15%, #7292cf 100%);
  
  }
  
  .logo{
     

    margin-left: 13.391rem;
    margin-top: 16.113rem;
    margin-bottom: 25rem;
  }

 